$red: #ff0000;
$green: #5AB675;
$grayBtn : #ECECEC;
$textColor : #323232;
$blueShade : #2B4574;
$white : white;
$blueHeader: #2894D1;
$whiteShadeOne: #F4F6F9;
$whiteShadeTwo: #e3e9ed;
$grayShade: #A8A8A8;
$orange: #FFB300;
$whiteShadeThree: #FBFBFB;
$textColor: #323232;
$whiteShadeFour: #EBF8FF;
$addBtn: #dfebf5;
$addBtnTxt: #3591c5;
$headingColorBlue : #2B4574;
$greenLight:#1BB75D;
$onlBlue :#2792D3;
$fname : #888888;
$editBtnBorder : #506588;
$greenCheckBack:#2DCC70;
$tabelBack : #F9FCFF;
$fundingCostBack : #DBF2FF;
$lightBlueTableBack : #EEF7FF