@import '../../utils/colors/_color';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,300&display=swap');

.MuiAppBar-colorPrimary {
    background-color: #fff !important;
    position: static !important;
}

header {
    background-color: $white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    z-index: 10;

    .headerWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-cal {
        img {
            object-fit: contain;
            width: 100px;
            height: 50px;
        }
    }

    .logo-heading {
        display: flex;
        align-items: center;

        .desktopLogo {

            img {
                padding: 0 15px 0 0;
                margin: 0 15px 0 0;
                border-right: 1px solid #ccc;
                width: 100%;
                max-width: 170px;

                @media (max-width:1230px) {
                    max-width: 150px;

                }

                @media (max-width:900px) {
                    max-width: 130px;

                }

                @media (max-width:600px) {
                    display: none;

                }
            }
        }

        .mobileLogo {
            display: none;
            padding: 0 15px 0 0;
            margin: 0 15px 0 0;
            border-right: 1px solid #ccc;
            img{
                width: 100%;
            }


            @media (max-width:600px) {
                display: block;

            }
        }


        .page-title {

            h2 {
                color: $greenLight;

                @media (max-width:900px) {
                    font-size: 20px;

                }
            }
        }
    }

    .navbar-option {
        display: flex;
        align-items: center;

        button {
            text-decoration: none;
            padding: 0 15px;
            color: $textColor;
            text-transform: capitalize;

            @media (max-width:1200px) {
                margin: 0;
                padding: 0;

            }
        }

        .navbar-ul ul {
            display: flex;
            align-items: center;
            list-style: none;

            li:last-child a {
                padding: 0;
            }

            li a {
                text-decoration: none;
                display: inline-block;
                padding: 0 15px;
                color: $textColor;
            }
        }

        .notification {
            display: flex;
            align-items: center;
        }

        .navbar-icons {
            margin: 0 0 0 20px;
            padding: 0 0 0 20px;
            border-left: 1px solid #C4C4C4;

            @media (max-width:600px) {
                padding: 0;
            }

            .ball-bage {
                @media (max-width:600px) {
                    display: none;

                }
            }

            .ball-bage span {
                background-color: #FF0000;
                width: 10px;
            }

            .ball-bage > span {
                background-color: $whiteShadeOne;
                width: 40px;
                border-radius: 50%;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .profile-image {
                width: 32px;
                height: 32px
            }

            .profile-btn {
                padding: 0 0 0 15px;
            }

            .profile-btn:hover {
                background-color: transparent;
            }

            .profile-icon {
                display: flex;
                align-items: center;
            }

            .person-name {
                margin: 0 10px;
                text-align: left;
                text-transform: capitalize;
                line-height: 21px;

                @media (max-width:900px) {
                    display: none;

                }
            }

            .person-name span {
                display: block;
            }

            .down-icon {
                transform: rotate(90deg);

                @media (max-width:900px) {
                    display: none;

                }
            }
        }
    }
}