@import '../../utils/colors/_color';
@import '../../css/_mixin';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,300&display=swap');

// .profile-heading {
//     display:block;
//     h1 {
//         font-family: 'Roboto', sans-serif;
//         font-weight: 700;
//         font-size: 1.1em;
//         letter-spacing: 0px;
//         color: #2894D1;
//         font-size:1.1em;
//         line-height:20px;
//         // @include hfontLarge;
//         opacity: 1;
//         text-align: left;
//     }
// } 

.profile-heading h1 {
    // font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    letter-spacing: 0px;
    color:$blueHeader;
    font-size: 1.1em;
    line-height: 20px;
    // @include hfontLarge;
    opacity: 1;
    text-align: left;
    margin-bottom: 8px;
}

.profile-gline {
    border: 1px solid $green;
    opacity: 1;
    width: 62px;
    height: 0px;
}

.profile-hline {
   @include grey-hline;
}


.profile-content {
    text-align: left;
    font-weight: 400;
    font-size: 0.85em;
    letter-spacing: 0px;
    color: $textColor;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 20px;

}
.common-heading{
    text-align: left;
    margin-top: 20px;
}
.common-heading h4{
    color:$blueShade;
    font-size: 0.9rem;
    font-weight: 800;
}
.common-heading p{
    color:$textColor;
    font-size: 0.85rem;
    font-weight: 300;
}