@import '../../css/_mixin';
@import '../../utils/colors/_color';


.profile-cal {
    background-color: $white;
    margin: 20px 60px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 2px #0000001F;
}

.tabi {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkblue {
    background-color:$blueShade;
}

.gray {
    background-color:$grayShade;
}

.orange {
    background-color:$orange;
}

.tab-comp {
    width: '200px';
    text-align: 'left';
    background-color:$grayShade;
}

.tab-cal {
    background-color:$whiteShadeThree;
    @include grey-hline;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tlabel {
    width: 100px;
    text-align: left;
    text-transform: capitalize;
    font-size: 0.8rem;
    font-family: 'roboto sans-serif';
    font-weight: 600;
}
.orange-col{
    color: $orange;
}
.darkblue-col{
    color:$blueShade;
}
.gray-col{
    color:$grayShade;
}

// resposive for mobile

@media screen and (max-width: 480px) {
    .profile-cal {
        margin: 10px 0px;
    }
}