@import '../../utils/colors/_color';
@import '../../css/_mixin';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.profile-heading h1 {
    font-family: 'Roboto', sans-serif;;
    font-weight: 700;
    font-size: 1.1em;
    letter-spacing: 0px;
    color:$blueHeader;
    font-size: 1.1em;
    line-height: 20px;
    opacity: 1;
    text-align: left;
    margin-bottom: 8px;
}

.profile-gline {
    border: 1px solid $green;
    opacity: 1;
    width: 62px;
    height: 0px;
}

.profile-hline {
   @include grey-hline;
}


.profile-content {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 0.85rem;
    letter-spacing: 0px;
    color: $textColor;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 10px;

}
.common-heading{
    text-align: left;
    margin-top: 20px;
}
.common-heading h4{
    color:$blueShade;
    font-size: 0.9rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.common-heading p{
    color:$textColor;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;;
}
.enrollContent{
    font-weight: 400;
}