@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,300&display=swap');

@mixin hfontLarge {
    font-size: 40px;
    line-height: 20px;
    color: #000;
}

@mixin grey-hline {
    border-top: 0.5px solid #0000001F;
    opacity: 1;
    width: 100%;
    margin-top: 20px;
}

@mixin timeLineFont {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@mixin heading {
    text-align: left;
    margin: 0 0 30px 0;
    font-size: 24px;
    color: #2894D1;
    font-weight: 600;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 70px;
        height: 3px;
        background-color: #5AB675;
        bottom: -9px;
        border-radius: 20px;
    }
}

@mixin cardDesign {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 2px 16px #0000001f;
    position: relative;
    height: 100%;
}

@mixin tableHeading {
    background-color: #D4ECFF;

    th {
        color: #555555;
        font-size: 16px;
        font-weight: 600;
        padding: 13px;
    }
}

@mixin accessBtn {
    padding: 35px 0 8px 0;
    margin: 25px 0 0 0;
    border-top: 1px solid #A8A8A8;
    text-align: center;


    .Btn {
        text-decoration: none;
        background-color: #2B4574;
        color: #fff;
        padding: 12px 20px;
        border: 2px solid transparent;
        border-radius: 8px;
        display: inline-block;
        transition: all 0.3s;

        &:hover {
            background-color: transparent;
            border: 2px solid #2B4574;
            color: #2B4574;
        }
    }
}

@mixin innerCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}