@import '../../utils/colors/_color';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');


.peel-grant{
    display: flex;
    flex-direction: column;
}
.peel-grant p{
    text-align: left;
}
.directloan-cal{
    display: flex;
    flex-direction: column;
}