@import '../../utils/colors/_color';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.footer-container {
    display: flex;
    background-color: $blueShade;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;

}

.footer-cal {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 50px;
}

.footer-cal h4 {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: $white;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.8px;
    font-family: 'Roboto', sans-serif;
    margin-left: -18px;
}

.footer-cal footer {
    display: flex;
}

.ftab {
    display: flex;
    color: $white;
    margin-top: 10px;
}

.second-flabel {
    display: flex;
    flex-direction: row;
    font-size: 0.72rem;
    line-height: 1.3rem;
    margin-top: 10px;
    opacity: 1;
}

.first-link {
    margin-right: 60px;
}

.first-link li {
    list-style-type: square;
    color: $white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.second-link li {
    list-style-type: square;
    color: $white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.question-icon {
    margin-right: 5px;
}

.scan-cal button {
    text-align: end;
    box-shadow: 0px 2px 30px #00000029;
    border-radius: 50px;
    background-color: $blueHeader;
    border: none;
    color: $white;
    padding: 6px 9px 6px 7px;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.scan-cal {
    margin-top: 20px;
    margin-right: 20px;
}

.scan-cal button span {
    margin-left: 10px;
}

.scan-cal img {
    width: 55px;
    height: 55px;
}

.scan-img {
    text-align: left;
}

.scan-content {
    padding: 0;
    margin: 0;
    width: 130px;
    text-align: left;
    margin-left: 10px;
    line-height: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
}

*:focus {
    outline: 0 !important;
}

@media screen and (max-width:628px) {

    .footer-container,
    .second-flabel {
        flex-direction: column;
    }

    .first-link {
        margin: 0
    }

    .scan-cal {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }
}