@import '../../utils/colors/_color';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,300&display=swap');


.footer-container {
    display: flex;
    background-color: $blueShade;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    
}

.footer-cal {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 50px;
}

.footer-cal h4 {
    margin:0;
    padding: 0;
    font-size: 0.9rem;
    color: $white;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.8px;
    font-family: 'roboto sans-serif';
    margin-left: -18px;
}

.footer-cal footer {
    display: flex;
}

.ftab {
    display: flex;
    color: $white;
    margin-top: 10px;
}

.second-flabel {
    display: flex;
    flex-direction: row;
    font-size: 0.72rem;
    line-height: 1.3rem;
    margin-top: 10px;
    opacity: 1;
    font-weight: 500;
    font-family: 'roboto sans-serif';
}

.first-link {
    margin-right: 60px;
}

.first-link li {
    list-style-type: square;
    color: $white;
}

.second-link li {
    list-style-type: square;
    color: $white;
}

.question-icon {
    margin-right: 5px;
}

.scan-cal button {
    text-align: end;
    box-shadow: 0px 2px 30px #00000029;
    border-radius: 50px;
    background-color: $blueHeader;
    border: none;
    color: $white;
    padding: 9px 9px;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.scan-cal {
    margin-top: 20px;
    margin-right: 20px;
}

.scan-cal button span {
    margin-left: 10px;
}

.scan-cal img {
    width: 50px;
    height: 50px;
}

.scan-img {
    text-align: left;
}

.scan-content {
    padding: 0;
    margin: 0;
    width: 150px;
    text-align: left;
    margin-left: 10px;
    line-height: 1rem;
}

*:focus {
    outline: 0 !important;
}

@media screen and (max-width:628px) {
    .footer-container, .second-flabel{
        flex-direction:column;
    }
    .first-link{
        margin:0
    }
    .scan-cal{
       display: flex;
       justify-content: center;
       padding-bottom: 10px;
    }
}